<!-- RODAPÉ -->
	<footer class="text-center py-4 mt-auto" style="background: linear-gradient(90deg, #0d6efd 0%, #6610f2 100%);" th:fragment="footer">
		<div class="container">
			<p class="mb-1">&copy; 2025 AUTOMIND. Todos os direitos reservados.</p>
			<div>
				<a href="https://www.instagram.com/seuPerfil" target="_blank" class="me-3 text-dark">
					<i class="bi bi-instagram"></i>
				</a>
				<a href="https://www.facebook.com/seuPerfil" target="_blank" class="me-3 text-dark">
					<i class="bi bi-facebook"></i>
				</a>
				<a href="https://www.linkedin.com/in/seuPerfil" target="_blank" class="text-dark">
					<i class="bi bi-linkedin"></i>
				</a>
			</div>
		</div>
	</footer>